proxy_cache_path /var/www/cache levels=1:2 keys_zone=cache:256m max_size=15g inactive=14d;
proxy_temp_path /var/www/cache/tmp;

upstream app_server {
    server unix:/tmp/gunicorn.sock fail_timeout=0;
}

server {
    listen 80 default;
    server_name _;
    access_log /var/log/nginx/default.log;
    client_max_body_size 1M;

    proxy_cache_use_stale error timeout invalid_header updating http_502 http_503 http_504 http_404;
    proxy_cache_methods GET HEAD;
    proxy_cache_min_uses 3;
    proxy_cache_valid 14d;
    proxy_connect_timeout 3s;

    location /static/ {
        autoindex on;
        alias /var/www/pasteraw/pasteraw/static/;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
        proxy_pass http://app_server;
        proxy_cache cache;
    }
}
